@font-face {
    font-family: 'RibeyeMarrow';
    src: url('fonts/Ribeye_Marrow/RibeyeMarrow-Regular.ttf');
}



*{
    font-family: 'RibeyeMarrow';
    touch-action: manipulation;
}

button{
    cursor: pointer;
}

p{
    margin: 5px;
    font-weight: 800;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'RibeyeMarrow';
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-image: url('imgs/others/overallBackground.png');
    background-size: cover;
    background-position: center;
    
}

.no_scroll{
    overflow: hidden;
}

h1{
    font-size: 48px;
    text-shadow: 4px 4px 0.20px #0000005e;
    color: #FFDE00;
}

canvas {
    background-color: black;
    display: block;
    position: absolute;
}

.startScreen{
    display: flex;
    align-items: flex-end;
    justify-content: center ;
    width: 860px;
    height: 480px;
    background-image: url('imgs/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-position: right;
    gap: 10px;
    position: absolute;
}

.startScreenContent button:hover{
    background-color: #FFDE00;
    color: black;
}
.startScreenContent button{
    color: #FFDE00;
    background-color: black;
    font-size: 24px;
    border-radius: 24px
}

    .startScreenContent{
    display: flex;
    gap: 10px;
    padding-bottom: 24px;
}

.hidden{
    display: none !important;
}

.info_window{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(imgs/others/oldScrollBg.jpeg);
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 16px;
    max-width: 1290px;
    max-height: 730px;
}

.section div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
        display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    font-weight: 800;
}

.character_img{
    width: 90px;
    margin-top: -70px;
}

.bottle_img{
    width: 90px;
}

.keyboard_img{
    height: 40px;
}

.space_keyboard_img{
    height: 60px;
}

.d_keyboard_img{
    height: 45px;
}

.close_btn{
    position: absolute;
    right: 18px;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px transparent; 
}

.close_btn:hover{
    cursor: pointer;
    border-radius: 50% ;
    border-color: black;
}

.close_btn img:hover{
    filter: brightness(0%);
}

.close_btn img{
    height: 24px;
    padding: 8px;
}

.info_window span{
    padding: 32px;
    font-weight: 800;
}

.settings_icon:hover{
    cursor: pointer;
}
.settings_icon{
    height: 32px;
}

.settings_icon_container{
position: absolute;
    right: 18px;
    top: 18px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.relative{
    position: relative;
    width: 860px;
    height: 480px;
    margin: 0 auto;
}

.relative:fullscreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    transform: scale(1);
}

.relative:fullscreen .settings_icon_container{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
}


.relative:fullscreen canvas{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.relative:fullscreen .startScreen{
    width: 100%;
    height: 100%;
}

.endscreen{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 9;
    
}

.endscreen button{
    color: #FFDE00;
    background-color: black;
    font-size: 24px;
    border-radius: 24px;
}

.endscreen button:hover{
    background-color: #FFDE00;
    color: black;
}

.endscreen-content{
    display: flex;
    gap: 80px;
    padding-bottom: 24px;
}

.info_window_wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_UI{
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.control_panel_content{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.control_panel_content button{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    border-radius: 50%;
    background-color: #9f6767b5;
}

.control_panel_content img{
    height: 60px;
    width: 60px;
}

.control_panel{
    display: flex;
    gap: 16px;
}

.mobile_hide{
    display: none;
}